.section {
  display:block;
	border-top: 1px solid #dedede;
	padding: 1.5rem 0 1.5rem;
}

.section:first-child {
	border-top: 0;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionTitle h1 {
	font-weight: 600;
	font-style: italic;
	font-size: 1.1em;
	color: #cf8a05;
}
