body {
  color: #222;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85))
  , url('../../../../assets/LandingPageBackGround.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-attachment: fixed;
}

.CvContainer {
  margin: 10vh auto;
  width: 90%;
	max-width: 800px;
  background-color: #f3f3f3;  
  border: 1px solid #333;
  box-shadow: 2px 2px 2px #cf8a05;
}

.mainArea {
	padding: 0 1.5rem;
}

.home {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  color: #f3f3f3;
  font-size: 2em;
  cursor: pointer; 
}