.section {
  display:block;
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

.section:first-child {
	border-top: 0;
}

.section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-weight: 600;
	font-style: italic;
	font-size: 1em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-size: 2rem;
	margin-bottom: -2px;
}


