.mainDetails {
  padding: 1.5rem 2rem;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

.headShot {
	width: 12.5%;
	float: left;
	margin-right: 2rem;
}

.headShot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 10rem;
	border-radius: 10rem;
}

.name {
  float: left;
}

.name h1 {
	font-size: 2em;
	font-weight: 600;
}

.name h2 {
  font-size: 1.5em;
  font-weight: 400;
	margin-left: 2px;
}

.contactDetails {
	float: right;
	font-size: 0.9em;
	margin: 0.5rem 0 0 0.25rem;
}

.contactDetails a {
	color: #cf8a05;
	text-decoration: none;
}
.contactDetails a:hover { 
	color: #926201;
}

.clear {clear: both;}


@media all and (max-width: 701px) {
	.headShot  {
		width: 30%;
		float: left;
	}

	.name h2 {
		display: none;
	}
	
	.headShot img {
		width: 50%;
	}
	
	.contactDetails {
		float: left;
	}
		
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
	

	@media all and (max-width: 601px) {
		.headShot  {
			display: none;
		}
	
		.name, .contactDetails {
			float: none;
			width: 100%;
			text-align: center;
		}		
	}
}
