.Modal {
  font-weight: 600;
  position: fixed;
  z-index: 500;
  width: 70%;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  padding: 2rem 2rem;
  border: 1px solid #333;
  box-shadow: 5px 5px 5px #cf8a05;
  background-color: #ddd;
}


@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}