.WelcomeContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85))
  , url('../../../assets/LandingPageBackGround.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
