.clear {clear: both;}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionContent a {
	text-decoration: none;
	color: #cf8a05;
}

.sectionContent a:hover { 
	color: #926201;
}


@media all and (max-width: 601px) {
	.sectionContent {
		float: none;
		width: 100%;
		margin-left: -2px;
	}
}
