.FormInput {
  color: black;
  font-size: 1rem;
  font-family: inherit;
  padding: .5rem 1rem;
  border-radius: 5px;
  border-bottom: 3px solid transparent;
  width: 300px;
  transition: all 1s; 
}

.FormInput:focus {
    border-bottom: 3px solid #55c57a; }
.FormInput:focus:invalid {
    border-bottom: 3px solid #ff7730; }
.FormInput::-webkit-input-placeholder {
    color: #999; }


.FormButton, .FormButton:link, .FormButton:visited {
  color: white;
  background-color: #e67e22;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  transition: all .5s;
  cursor: pointer; 
}

.FormButton:hover {
    background-color: #cf6d17;}
.FormButton:active, .FormButton:focus {
  outline: none;}
